@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 68px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(90deg,
            rgb(230, 130, 17) 70%,
            rgba(239, 238, 235, 0) 120%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.description {
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
}

.description TypeAnimation {
    color: #9c57bc;
}

.btn {
    display: flex;
    justify-content: space-between;


}

.contactBtn {
    text-decoration: none;
    /*background-color: var(--color-primary);*/
    background-color: #FFBF00;
    color: #fff;
    border-radius: 50px;
    font-size: 25px;
    font-weight: 550;
    padding: 12px 17px;
    box-shadow: 0 0 4px 0 rgba(208, 193, 24, 0.714);
    display: flex;
    justify-content: space-between;

}

.cvBtn {
    text-decoration: none;
    font-size: 26px;
    display: flex;

    font-style: italic;
    padding: 10px 17px;
    flex-direction: row;
    padding-left: 30px;

    border-radius: 50px;
    background: linear-gradient(to right, #A829CF 20%, #5FCFA2 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* box-shadow: 0 0 4px 0 rgba(208, 193, 24, 0.714);
    background-color: #FFBF00; */
    justify-content: space-around;

}



.heroImg {
    width: 45%;
    height: 35%;
    /* width: 20%;
    height: 15%; */
    z-index: 1;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(5px, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }

}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    top: -128px;
    left: 10vw;
    border: 764px;
    background: rgba(222, 221, 220, 0.7);
    filter: blur(100px);
    z-index: 0;

}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 250px;
    top: 246px;
    right: -25vw;
    border: 764px;
    background: rgba(222, 221, 220, 0.7);
    filter: blur(100px);
    z-index: 0;

}

@media screen and (max-width:830px) {
    .container {
        flex-direction: column-reverse;
    }

    .content {
        align-items: center;
    }
}